@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #2d2d2d;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    display: flex;
    flex-direction: column;
    position: relative;
}

aside {
    background-color: #ffffff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 5px 5px 30px #e5e5e5;
}

aside > div {
    display: flex;
    overflow-x: auto;
}

aside .btn-filter {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    min-width: 100px;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
}

aside .btn-filter:hover {
    background-color: #ffe05d;
    opacity: 0.75;
}

aside .btn-filter.active {
    color: #ffffff;
    background-color: #ec5858;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0;
}

main .pokemon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 1rem;
    min-height: 250px;
}

main .pokemon:nth-child(even) {
    background-color: #f3f3f3;
}

.pokemon--card {
    display: grid;
    gap: 0.5rem;
    background-color: #ffffff;
    box-shadow: 10px 10px 60px #e5e5e5;
    border-radius: 20px;
    min-width: 250px;
    margin: 1rem;
    padding: 1rem 0;
}

.pokemon--profile {
    position: relative;
}

.pokemon--id {
    color: #e5e5e5;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    line-height: 5.25rem;
}

.pokemon--image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pokemon--info {
    position: absolute;
    top: -30px;
    background-color: #ffffff;
    box-shadow: 10px 10px 60px #e5e5e5;
    width: 60px;
    line-height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
}

.pokemon--info.height {
    left: -10px;
}

.pokemon--info.weight {
    right: -10px;
}

.pokemon--name {
    font-size: 1.25rem;
    text-align: center;
    text-transform: capitalize;
}

.pokemon--types,
.pokemon--abilities {
    font-size: 0.75rem;
    text-align: center;
}

.pokemon--types {
    font-weight: 700;
    text-transform: uppercase;
}

.pokemon--abilities {
    text-transform: capitalize;
}

.pokemon--types span {
    padding: 0 1rem;
}

.pokemon--stats {
    width: 100%;
    display: grid;
    gap: 0.5rem;
}

.pokemon-stat-item {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-content: center;
}

.pokemon-stat-item div:first-child {
    font-weight: 700;
    text-align: right;
    text-transform: capitalize;
}

.progress-bar {
    background-color: #ec5858;
    background-image: linear-gradient(
        to right,
        #ec5858 0%,
        #ffe05d 45%,
        #2ec1ac 100%
    );
    position: relative;
    height: 20px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar > span {
    display: block;
    height: 100%;
    background-color: #e5e5e5;
    position: absolute;
    right: 0;
}

@media (min-width: 768px) {
    main .pokemon {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .App {
        flex-direction: row;
    }

    aside {
        width: auto;
        height: 100vh;
    }

    aside > div {
        display: grid;
        gap: 0.75rem;
        height: 100%;
    }

    main {
        width: 100%;
        padding: 0;
    }

    main .pokemon {
        padding-left: 10rem;
    }

    .pokemon-stat-item {
        grid-template-columns: 1fr auto 3fr;
    }
}
